.header__second__ul {
  display: flex;
  flex-direction: row;
}

.header__second__left {
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
  order: 1;
}

.header__second__right {
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
  order: 1;
  white-space: nowrap;
}

.wrap__box__img {
  margin-bottom: 0;
  display: flex;
  order: 1;
}
