.header__second__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__second__img {
  width: 40px;
  height: 40px;
  margin: 3px;
}

.header__img {
  width: 100%;
  max-width: 100%;
}

.wrap__box__img {
  margin-bottom: 65px;
  display: flex;
  flex: 1;
}

.header__second__left {
  font-weight: 700;
  font-size: 1rem;
  flex: 2;
  order: 1;
}
.header__second__right {
  font-weight: 700;
  font-size: 1rem;
  flex: 2;

  order: 1;
}

.header__second__img_message {
  position: relative;
}

.message {
  border-radius: 33px;
  padding: 10px 25px;
  position: absolute;
  margin-top: 60px;
  margin-left: -70px;
  background: #333333;
  color: white;
}

// треугольник
.triangle {
  position: absolute;
  margin-top: 46px;
  margin-left: -25px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 15px solid #333333; // Цвет треугольника
}
