.center__box__li {
  flex: 0 0 49%;
}

.center__arrow1__img {
  display: none;
}

.center__arrow1__top__img {
  display: initial;
  position: absolute;
  margin: 10px;
  right: 0;
}

.center__arrow2__img {
  position: absolute;
  left: 50px;
  margin: 20px;
}
