.footer__ul__container2 {
  list-style-type: none;
}

.footer__text__title {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 40px 0 20px;
  list-style-type: none;
}

.footer__icon__img {
  max-width: 135px;
  margin: 50px;
}

.footer__icon {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.footer__icon__store {
  display: none;
}
