.sandwich__menu {
  width: 24px;
  margin-left: auto;
}

.sandwich__menu__line {
  width: 100%;
  border: 2px solid black;
}

.sandwich__menu__line_second {
  margin: 6px 0 6px auto;
  width: 18px;
}

.header__bg1 {
  z-index: 1;
  position: absolute;
  width: 100%;
  margin-top: -30px;
  height: 60px;
  border-radius: 100%;
  background-color: $white;
}

.header__bg2 {
  z-index: -1;
  position: absolute;
  width: 100%;
  margin-top: -45px;
  height: 100px;
  background-color: #eef3fa;
  border-radius: 0 0 100% 100%; /* радиус скругления */
}
