.footer__ul__container1_none {
  display: initial;
}

.footer__container1__container1 {
  display: flex;
}

.footer__li__container1__title {
  font-size: 2rem;
}

.footer__ul__container1_760n {
  display: none;
}
